html
{
	font-family: sans-serif;
	color:#454545;;
}

ul
{
	list-style-type:none;
}

li
{
	margin-bottom: 12px;
	display:table-row;
}

[title="complete"]
{
	position: relative;
	border:0;
	background-color:transparent;
	margin:0;
	font-size:20px;
	padding:0 0 0 22px;
	cursor:pointer;
	outline-width:0;
}

[title="complete"]:before
{
	content:"";
	position:absolute;
	top:-12px;
	left:0;
	width:18px;
	height:18px;
	display:inline-block;
	background-color:lightgrey;
	border-radius:100%;
	box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
}

.incomplete:hover
{
	text-decoration: line-through;
}

.incomplete:hover:before
{
	content:"";
	background-color: #55F855;
}

.toDoItems
{
	display:inline-block;
}

#completedItem
{
	text-decoration: line-through;
}

.complete:before
{
	content:"";
	background-color: #55F855;
}

.complete:hover
{
	text-decoration: none;
}
.complete:hover:before
{
	background-color:lightgrey;

}


[title=remove]
{
	float:right;
	position: relative;
	border:0;
	background-color:transparent;
	margin:3px 0 0 6px;
	cursor:pointer;
	outline-width:0;
	top:17px;	
	width:18px;
	height:18px;
	display:inline-block;
	background-color:red;
	border-radius:100%;
	box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
	color:transparent;
	font-size:0px;
}

[title=remove]:before
{
	position:absolute;
	left:0px;
	top:0px;
	width:18px;
	line-height:18px;
	font-size:10px;
	font-weight:bold;
	text-align:center;
	content:"X";
	color: white;
}

.error
{
	border-radius:3px;
}

.notification
{
	background-color:red;
	line-height:32px;
	color:white;
}

.notification:before
{
	content:"!";
	display:inline-block;
	width:32px;
	height:32px;
	font-size:32px;
	text-align:center;
	font-weight:bold;
	float:left;
	
}