body
{
    background-color: #ffffff;
}

/* entire container, keeps perspective */
.flip-container
{
	perspective: 1000;
    
    margin:0 auto;
    margin-top:80px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper
{
    transform: rotateY(180deg);
}

.flip-container, .front, .back
{
	width: 850px; /* Size images */
	height: 564px;
}

/* flip speed goes here */
.flipper
{
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back
{
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front 
{
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back 
{
	transform: rotateY(180deg);
}

p
{
    font-family: sans-serif;
    color:rgb(131, 131, 131);
    text-align: center;
    
    margin-top: 20px;
    margin-bottom: 50px;
}

img
{
    box-shadow: 5px 5px 5px #bfbfbf;
}