<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://web-backend.local/css/global.css">
    <link rel="stylesheet" href="http://web-backend.local/css/facade.css">
    <link rel="stylesheet" href="http://web-backend.local/css/directory.css">
    <link rel="stylesheet" href="view/css/stylesheet.css"> <!-- omdat we includen, best zo duidelijk mogelijk het pad meegeven -->

</head>
    <body>
        <header>
		  <h1 id="mainTitle">Opdracht include/require</h1>
    
                <ul class="nav">
                    <li><a href="">Calendar</a></li>
                    <li><a href="">Friends</a></li>
                    <li><a href="">Contact</a></li>  
                </ul>
        
            <div class="account">
                <img src="http://i.imgur.com/Fh6xlbF.jpg" alt="account">
                <img src="http://www.veryicon.com/icon/ico/System/Icons8%20Metro%20Style/Mathematic%20Plus2.ico" alt="accountPlus">
            </div>    
        </header>